<body>
    <div id="home-page">
        <h1>Organize your to-do lists from anywhere.</h1>
        <a href="/todo-view" class="btn-home">Start Managing Tasks</a>
    </div>

    <footer>
        &copy; Copyright 2024 Aryanitha.
    </footer>
</body>